/* src/styles.css */

body {
    margin: 0;
      font-family: 'Poppins', sans-serif;
  }
    
  .navbar-brand .brand-first, .navbar-brand .brand-second{
    padding-top: 10px;
    font-weight: 800;
  }

  .navbar-brand .brand-first{
    color: rgb(218, 187, 47);
  }

  .navbar-brand h4 {
  background: rgba(255, 255, 255, 0.2); 
  padding: 10px 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}

  nav {
    background-color:#006ebd;
    color: white;
    padding: 1rem;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul li button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  nav ul li button:hover {
    text-decoration: underline;
  }
  
  h1 {
    color: #333;
  }
  
/* src/styles/Navbar.css */
nav {
    background-color: #006ebd;
    padding: 80px 10px;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
  }
  
  button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c82333;
  }
  
  a {
    text-decoration: none;
    color: #007bff; /* Link color */
  }
  
  a:hover {
    text-decoration: underline; /* Underline on hover */
  }
  

/* src/styles/Login.css */
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
  }
  
  input {
    margin: 10px 0;
    padding: 8px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    text-align: center;
  }
  